.playersInfoTitle {
    -fx-font-size: 28px;
    -fx-font-family: "Gadugi";
    -fx-font-weight: bold;
    -fx-fill: white;
}

.playersInfoTop {
    -fx-background-color: #6aeb44;
}

#playersInfoBoxesScroll {
    -fx-background-color: transparent;
}

#playersInfoBoxesScroll .viewport {
    -fx-background-color: transparent;
}