.playerInfoKeyLabel {
    -fx-font-size: 16px;
    -fx-font-family: "Gadugi";
    -fx-font-weight: bolder ;
    -fx-text-fill: navy ;
}

.playerInfoValueLabel {
    -fx-font-size: 16px;
    -fx-font-family: "Gadugi";
    -fx-font-weight: bold;
    -fx-text-fill: blue ;
}

.playerInfoBoxTitle {
    -fx-font-size: 16px;
    -fx-font-family: "Gadugi";
    -fx-font-weight: bold;
    -fx-fill: darkblue ;

}

.playerInfoBoxTop {
    -fx-background-color: lightcyan   ;
}

.playerInfoBoxBottom {
    -fx-background-color: ghostWhite ;

}

.retirePlayer {
    -fx-opacity: 0.4;
}